<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>All catch failed page</title>
    <meta http-equiv="refresh" content="2; URL=/login">
<meta name="keywords" content="automatic redirection">
  </head>
  <body>
    Last Action failed, please try again
    If your browser doesn't automatically go there within a few seconds, 
you may want to go to 
<a href="./login">the destination</a> 
manually.
<script language="javascript" type="text/javascript">
  window.setTimeout('window.open("/login","newsite")',4500);
</script>
</body>
</html>